<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Onetable-cli</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>onetable</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>Allow Onetable-cli to access your calendar</string>
	<key>NSCameraUsageDescription</key>
	<string>Allow Onetable-cli to use the camera</string>
	<key>NSContactsUsageDescription</key>
	<string>Allow Onetable-cli experiences to access your contacts</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allow Onetable-cli to use your location</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Allow Onetable-cli to use your location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow Onetable-cli to use your location</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow Onetable-cli to access your microphone</string>
	<key>NSMotionUsageDescription</key>
	<string>Allow Onetable-cli to access your device&apos;s accelerometer</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Give Onetable-cli periences permission to save photos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Give Onetable-cli periences permission to access your photos</string>
	<key>NSRemindersUsageDescription</key>
	<string>Allow Onetable-cli to access your reminders</string>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kftc-bankpay</string> <!-- 계좌이체 -->
		<string>ispmobile</string> <!-- ISP모바일 -->
		<string>itms-apps</string> <!-- 앱스토어 -->
		<string>hdcardappcardansimclick</string> <!-- 현대카드-앱카드 -->
		<string>smhyundaiansimclick</string> <!-- 현대카드-공인인증서 -->
		<string>shinhan-sr-ansimclick</string> <!-- 신한카드-앱카드 -->
		<string>smshinhanansimclick</string> <!-- 신한카드-공인인증서 -->
		<string>kb-acp</string> <!-- 국민카드-앱카드 -->
		<string>mpocket.online.ansimclick</string> <!-- 삼성카드-앱카드 -->
		<string>ansimclickscard</string> <!-- 삼성카드-온라인결제 -->
		<string>ansimclickipcollect</string> <!-- 삼성카드-온라인결제 -->
		<string>vguardstart</string> <!-- 삼성카드-백신 -->
		<string>samsungpay</string> <!-- 삼성카드-삼성페이 -->
		<string>scardcertiapp</string> <!-- 삼성카드-공인인증서 -->
		<string>lottesmartpay</string> <!-- 롯데카드-모바일결제 -->
		<string>lotteappcard</string> <!-- 롯데카드-앱카드 -->
		<string>cloudpay</string> <!-- 하나카드-앱카드 -->
		<string>nhappcardansimclick</string> <!-- 농협카드-앱카드 -->
		<string>nonghyupcardansimclick</string> <!-- 농협카드-공인인증서 -->
		<string>citispay</string> <!-- 씨티카드-앱카드 -->
		<string>citicardappkr</string> <!-- 씨티카드-공인인증서 -->
		<string>citimobileapp</string> <!-- 씨티카드-간편결제 -->
		<string>kakaotalk</string> <!-- 카카오톡 -->
		<string>payco</string> <!-- 페이코 -->
		<string>lpayapp</string> <!-- 롯데 L페이 -->
		<string>hanamopmoasign</string> <!-- 하나카드 공인인증앱 -->
		<string>wooripay</string> <!-- 우리페이 -->
		<string>nhallonepayansimclick</string> <!-- NH 올원페이 -->
		<string>hanawalletmembers</string> <!-- 하나카드(하나멤버스 월렛) -->
	</array>
	<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoadsInWebContent</key>
			<true/>
			<key>NSAllowsArbitraryLoads</key>
			<true/>
		</dict>
</dict>
</plist>
